# 操作数据库

## 创建表
### 设置主键
```SQL
create table example0(stu_id int primary key, stu_name varchar(20), stu_sex boolean);

create table example1(sut_id int, course_id int, grade float, primary key(stu_id, course_id));
```

### 设置表的外键
```SQL
create table example3(id int primary key, stu_id int, course_id int, constraint c_fk foreign key (stu_id, course_id) references exampls2(stu_id, course_id));
```
子表关联的必须是父表的主键，而且数据类型必须一致。

### 设置非空约束
```SQL
create table example4(id int not null primary key, name varchar(20) not null, stu_id int, constraint d_fk foreign key(stu_id) references example1(stu_id));
```

### 唯一性约束
```SQL
create table example5(id int primary key, stu_id int unique, name varchar(20) not null);
```

### 自增加属性
- 作用：为新记录自动生成唯一的id
- 一个表只有一个字段使用`auto_increment`约束
- 该字段必须为主键的一部分
- 可以约束任何整数类型
- 默认从`1`开始
```SQL
create table example6(id int primary key auto_increment, stu_id int unique, name varchar(20) not null);
```

### 默认值设置
```SQL
create table example7(id int primary key auto_increment, stu_id int unique, name varchar(20) not null, english varchar(20) default 'zero', math float default 0, computer float default 0);
```

## 查看表结构
### `Describe` 语句
```SQL
describe example1;
desc example2;
```
### `show create table` 语句
```SQL
show create table example1 \g;
```

## 修改表
### 修改表名
`rename`
```SQL
alter table example0 rename user;
```
### 修改数据类型
`modify`
```SQL
alter table user modify name varchar(30);
```
### 修改排列位置
`modify`
```MYSQL
alter table user modify name varchar(30) first;  #第一位置
alter table user modify sex tinyint(1) after age;
```
### 修改字段名
`chagne`

```MySQL
alter table example1 change stu_name name varchar(20);  #不改变类型
alter table example1 change stu_sex sex int(2);    #改变类型
```
### 增加字段
`add` <br>为保证安全性，能加约束尽量加约束
```Mysql
alter table user add phone varchar(20);  #无完整约束
alter table user add age int(4) not null;   #有约束
alter table user add num int(8) primary key first; #第一位置增加
alter table user add address varchar(20) not null after phone; #指定位置后增加
```

### 删除字段
`drop`
```MYSQL
alter table user drop id;
```
### 更改存储引擎
```MYSQL
alter table user engine=myisam;
```
更改存储引擎，会带来额外问题，不要轻易更改`engine`

### 删除表的外键约束
`drop foreign key`
```MYSQL
alter table example3 drop foreign key c_fk;
```

## 删除表
### 删除普通表
```MYSQL
drop table example5;
```
### 删除被关联的父表
```MYSQL
alter table example4 drop foreign key d_fk; #先删除子表的外键约束
drop table example1;  #再删除父表
```

## 本章实例
```MYSQL
use school;
create table student(num int(10) primary key not null unique, name varchar(20) not null, sex varchar(4) not null, birthday datetime, address varchar(50));

create table grade(id int(10) primary key not null unique auto_increment, course varchar(10) not null, s_num int(10) not null, grade varchar(4), constraint c_fk foreign key (s_num) references student(num));

alter table grade modify course varchar(20);
alter table grade modify s_num int(10) after id;
alter table grade change grade score varchar(4); 
alter table grade drop foreign key c_fk;
alter table grade engine=myisam;
alter table student drop address;
alter table student add phone int(10);
alter table grade rename gradeInfo;
drop table student;
```