In [1]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [31]:
df=DataFrame(np.random.randn(20).reshape((4,5)))
df

          0         1         2         3         4
0 -1.285713  0.637658  0.274951  0.425842 -1.272870
1  0.365454  1.425270 -0.903013  0.824343  0.877543
2 -0.634962 -0.954580  0.510909  1.930947  0.297301
3 -2.108159 -0.204559  0.525155  0.151102 -1.640471

In [33]:
f=lambda x: '%.2f'  %x
df.applymap(f)

       0      1      2     3      4
0  -1.29   0.64   0.27  0.43  -1.27
1   0.37   1.43  -0.90  0.82   0.88
2  -0.63  -0.95   0.51  1.93   0.30
3  -2.11  -0.20   0.53  0.15  -1.64

In [21]:
df[3]=df[3].apply(f)
df

       0         1         2      3         4
0   0.35  1.391579  0.422506  -1.73 -0.919807
1  -0.12 -1.143692  0.031095  -1.91  0.837703
2  -0.66 -0.300108  0.137259   0.19  0.566565
3  -0.11 -0.766495  0.854755  -2.53  0.859428

In [22]:
df

       0         1         2      3         4
0   0.35  1.391579  0.422506  -1.73 -0.919807
1  -0.12 -1.143692  0.031095  -1.91  0.837703
2  -0.66 -0.300108  0.137259   0.19  0.566565
3  -0.11 -0.766495  0.854755  -2.53  0.859428

In [10]:
b = "%(name)-20s————————%(age)+10d————————"%{'name':'xx','age':20}
print(b)

xx                  ————————       +20————————